#local {
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue; 
}

section {
    display: flex;
    padding-left: 28px;
  }
  
  section .weather {
    border: 2px solid #ef0505;
    flex: 1;
    padding: 12px;
    text-align: center;
  }
  
  .weather span {
    font-weight: bold;
    font-size: 18px;
  }
  